.Header{
    &__searchbox{
        border-radius: 10px!important;
        width: 400px!important;
    }
}
.Banner{
    height: 100vh;
    background-attachment: fixed;
    background:url('./../../assets/banner.jpg') no-repeat;
    background-size: 2000px;
    background-position: center 0px;
}
